<div class="container">
    <h2>Flexbox</h2>
    <h5 class="p-2">.d-flex .flex-row</h5>
    <div class="d-flex flex-row bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <hr />
    <h2>Direction:</h2>
    <p>Indicate the direction: wrap and column</p>
    <h5 class="p-2">.d-flex .flex-row-reverse</h5>
    <div class="d-flex flex-row-reverse bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <h5 class="p-2">.d-flex .flex-column</h5>
    <div class="d-flex flex-column bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <h5 class="p-2">.d-flex .flex-column-reverse</h5>
    <div class="d-flex flex-column-reverse bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <hr />
    <h2>Justify Content</h2>
    <p>Justify and ubicate the elements in differents positions</p>
    <h5 class="p-2">.d-flex .flex-row .justify-content-start</h5>
    <div class="d-flex flex-row justify-content-start bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <h5 class="p-2">.d-flex .flex-row .justify-content-end</h5>
    <div class="d-flex flex-row justify-content-end bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>


    <h5 class="p-2">.d-flex .flex-row .justify-content-center</h5>
    <div class="d-flex flex-row justify-content-center bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <h5 class="p-2">.d-flex .flex-row .justify-content-between</h5>
    <div class="d-flex flex-row justify-content-between bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div><br />
    <div class="d-flex flex-row justify-content-between bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
    </div>

    <h5 class="p-2">.d-flex .flex-row .justify-content-around</h5>
    <div class="d-flex flex-row justify-content-around bg-info text-white">
        <div class="bg-secondary p-2">Lorem 1</div>
        <div class="bg-secondary p-2">Lorem 2</div>
        <div class="bg-secondary p-2">Lorem 3</div>
    </div>

    <hr />
    <h2>Align Items</h2>
    <p>Align the elements vertically. Correct values: .align-items-start, .align-items-end, .align-items-center,
        .align-items-baseline, and .align-items-stretch (default)</p>
    <h5 class="p-2">d-flex flex-row align-items-center</h5>
    <div class="d-flex flex-row align-items-center my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <h5 class="p-2">d-flex flex-row align-items-end</h5>
    <div class="d-flex flex-row align-items-end my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <hr />
    <h2>Align Self </h2>
    <p>Control the vertical alignment of a specified flex item with the .align-self-* classes. Valid classes are
        .align-self-start, .align-self-end, .align-self-center, .align-self-baseline, and .align-self-stretch (default).
    </p>
    <h5 class="p-2">.align-self-start</h5>
    <div class="d-flex flex-row align-items-center my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 align-self-start my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <div class="d-flex flex-row align-items-start my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 align-self-end my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <hr />
    <h2>Align Self(Items) </h2>
    <p>Control the vertical alignment of a specified flex item with the .align-self-* classes. Valid classes are
        .align-self-start, .align-self-end, .align-self-center, .align-self-baseline, and .align-self-stretch (default).
    </p>
    <h5 class="p-2">.align-self-start</h5>
    <div class="d-flex flex-row align-items-center my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 align-self-start my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <div class="d-flex flex-row align-items-start my-flex-container">
        <div class="p-2 my-flex-item">Lorem 1</div>
        <div class="p-2 align-self-end my-flex-item">Lorem 2</div>
        <div class="p-2 my-flex-item">Lorem 3</div>
    </div>

    <hr />
    <h2>Wrap </h2>
    <p>Control how flex items wrap in a flex container with .flex-nowrap (default), .flex-wrap or .flex-wrap-reverse.
    </p>
    <h5 class="p-2">.flex-nowrap(default)</h5>
    <div class="d-flex flex-row bg-secondary">
        <div class="p-2 m-1 bg-info">Lorem 1</div>
        <div class="p-2 m-1 bg-info">Lorem 2</div>
        <div class="p-2 m-1 bg-info">Lorem 3</div>
        <div class="p-2 m-1 bg-info">Lorem 4</div>
        <div class="p-2 m-1 bg-info">Lorem 5</div>
        <div class="p-2 m-1 bg-info">Lorem 6</div>
        <div class="p-2 m-1 bg-info">Lorem 7</div>
        <div class="p-2 m-1 bg-info">Lorem 8</div>
        <div class="p-2 m-1 bg-info">Lorem 9</div>
        <div class="p-2 m-1 bg-info">Lorem 10</div>
        <div class="p-2 m-1 bg-info">Lorem 11</div>
        <div class="p-2 m-1 bg-info">Lorem 12</div>
        <div class="p-2 m-1 bg-info">Lorem 13</div>
        <div class="p-2 m-1 bg-info">Lorem 14</div>
        <div class="p-2 m-1 bg-info">Lorem 15</div>
        <div class="p-2 m-1 bg-info">Lorem 16</div>
        <div class="p-2 m-1 bg-info">Lorem 17</div>
        <div class="p-2 m-1 bg-info">Lorem 18</div>
        <div class="p-2 m-1 bg-info">Lorem 19</div>
        <div class="p-2 m-1 bg-info">Lorem 20</div>
        <div class="p-2 m-1 bg-info">Lorem 21</div>
    </div>

    <h5 class="p-2">.flex-wrap</h5>
    <div class="d-flex flex-row flex-wrap bg-secondary">
        <div class="p-2 m-1 bg-info">Lorem 1</div>
        <div class="p-2 m-1 bg-info">Lorem 2</div>
        <div class="p-2 m-1 bg-info">Lorem 3</div>
        <div class="p-2 m-1 bg-info">Lorem 4</div>
        <div class="p-2 m-1 bg-info">Lorem 5</div>
        <div class="p-2 m-1 bg-info">Lorem 6</div>
        <div class="p-2 m-1 bg-info">Lorem 7</div>
        <div class="p-2 m-1 bg-info">Lorem 8</div>
        <div class="p-2 m-1 bg-info">Lorem 9</div>
        <div class="p-2 m-1 bg-info">Lorem 10</div>
        <div class="p-2 m-1 bg-info">Lorem 11</div>
        <div class="p-2 m-1 bg-info">Lorem 12</div>
        <div class="p-2 m-1 bg-info">Lorem 13</div>
        <div class="p-2 m-1 bg-info">Lorem 14</div>
        <div class="p-2 m-1 bg-info">Lorem 15</div>
        <div class="p-2 m-1 bg-info">Lorem 16</div>
        <div class="p-2 m-1 bg-info">Lorem 17</div>
        <div class="p-2 m-1 bg-info">Lorem 18</div>
        <div class="p-2 m-1 bg-info">Lorem 19</div>
        <div class="p-2 m-1 bg-info">Lorem 20</div>
        <div class="p-2 m-1 bg-info">Lorem 21</div>
    </div>

    <h5 class="p-2">.flex-wrap-reverse</h5>
    <div class="d-flex flex-row flex-wrap-reverse bg-secondary">
        <div class="p-2 m-1 bg-info">Lorem 1</div>
        <div class="p-2 m-1 bg-info">Lorem 2</div>
        <div class="p-2 m-1 bg-info">Lorem 3</div>
        <div class="p-2 m-1 bg-info">Lorem 4</div>
        <div class="p-2 m-1 bg-info">Lorem 5</div>
        <div class="p-2 m-1 bg-info">Lorem 6</div>
        <div class="p-2 m-1 bg-info">Lorem 7</div>
        <div class="p-2 m-1 bg-info">Lorem 8</div>
        <div class="p-2 m-1 bg-info">Lorem 9</div>
        <div class="p-2 m-1 bg-info">Lorem 10</div>
        <div class="p-2 m-1 bg-info">Lorem 11</div>
        <div class="p-2 m-1 bg-info">Lorem 12</div>
        <div class="p-2 m-1 bg-info">Lorem 13</div>
        <div class="p-2 m-1 bg-info">Lorem 14</div>
        <div class="p-2 m-1 bg-info">Lorem 15</div>
        <div class="p-2 m-1 bg-info">Lorem 16</div>
        <div class="p-2 m-1 bg-info">Lorem 17</div>
        <div class="p-2 m-1 bg-info">Lorem 18</div>
        <div class="p-2 m-1 bg-info">Lorem 19</div>
        <div class="p-2 m-1 bg-info">Lorem 20</div>
        <div class="p-2 m-1 bg-info">Lorem 21</div>
    </div>

    <hr />
    <h2>Order </h2>
    <p>Change the visual order of a specific flex item(s) with the .order classes. Valid classes are from 0 to 12, where
        the lowest number has highest priority
    </p>
    <h5 class="p-2">.order-3</h5>
    <div class="d-flex bg-secondary">
        <div class="p-2 bg-info order-3">Lorem 1</div>
        <div class="p-2 bg-info">Lorem 2</div>
        <div class="p-2 bg-info">Lorem 3</div>
    </div>

    <hr />
    <h2>Fill / Equal Widths</h2>
    <p>Use .flex-fill on flex items to force them into equal widths: </p>
    <h5 class="p-2">.flex-fill</h5>
    <div class="d-flex bg-secondary">
        <div class="p-2 m-1 bg-info flex-fill">Lorem 1 flex-fill</div>
        <div class="p-2 m-1 bg-info">Lorem 2</div>
        <div class="p-2 m-1 bg-info">Lorem 3</div>
    </div>

    <hr />
    <h2>Grow</h2>
    <p>Use .flex-grow-1 on a flex item to take up the rest of the space </p>
    <h5 class="p-2">.flex-fill</h5>
    <div class="d-flex bg-secondary">
        <div class="p-2 m-1 bg-info">Lorem 1</div>
        <div class="p-2 m-1 bg-info">Lorem 2</div>
        <div class="p-2 m-1 bg-info flex-grow-1">Lorem 3 flex-grow-1</div>
    </div>

    <hr />
    <h2>Auto Margins</h2>
    <p>Easily add auto margins to flex items with .mr-auto (push items to the right), or by using .ml-auto (push items
        to the left) </p>
    <h5 class="p-2">.flex-fill</h5>
    <div class="d-flex bg-secondary">
        <div class="p-2 m-1 mr-auto bg-info">Lorem 1 mr-auto</div>
        <div class="p-2 m-1 bg-warning">Lorem 2</div>
        <div class="p-2 m-1 bg-primary">Lorem 3</div>
    </div><br />

    <div class="d-flex bg-secondary">
        <div class="p-2 m-1 bg-info">Lorem 1</div>
        <div class="p-2 m-1 bg-warning">Lorem 2</div>
        <div class="p-2 m-1 ml-auto bg-primary">Lorem 3 ml-auto</div>
    </div>

    <hr />
    <h2>Full Center</h2>
    <div class="d-flex bg-secondary justify-content-center lex-row align-items-center my-flex-container">
        <div class="bg-info">Lorem ipsum</div>
    </div>

</div>